{% extends 'base.html' %}

{% block content %}

<!-- Sección de Categorías -->
<div class="container mt-5">
    <h3 class="text-center" style="color: #6A1B9A;">Categorías</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="{{ url_for('static', filename='img/categorias.png') }}" class="card-img-top" alt="Categorias">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #6A1B9A;">Categorías</h5>
                    <a href="{{ url_for('categorias') }}" class="btn text-white mt-2" style="background-color: #6A1B9A;">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="{{ url_for('static', filename='img/empleados.png') }}" class="card-img-top" alt="Empleados">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #6A1B9A;">Empleados</h5>
                    <a href="{{ url_for('empleados') }}" class="btn text-white mt-2" style="background-color: #6A1B9A;">Ver más</a>

                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="{{ url_for('static', filename='img/clientes.png') }}" class="card-img-top" alt="Clientes">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #6A1B9A;">Clientes</h5>
                    <a href="{{ url_for('clientes') }}" class="btn text-white mt-2" style="background-color: #6A1B9A;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sección de Más Categorías -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="{{ url_for('static', filename='img/lineaproducto.png') }}" class="card-img-top" alt="Linea producto">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #6A1B9A;">Línea de producto</h5>
                    <a href="{{ url_for('perros') }}" class="btn text-white mt-2" style="background-color: #6A1B9A;">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="{{ url_for('static', filename='img/sucursal.png') }}" class="card-img-top" alt="Sucursales">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #6A1B9A;">Sucursales</h5>
                    <a href="{{ url_for('sucursales') }}" class="btn text-white mt-2" style="background-color: #6A1B9A;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
