{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Empleados</h2>
    <p class="text-center">¡Bienvenido al Panel de control de Empleados!</p>
    <div class="text-center mb-3">
        <a href="{{ url_for('agregar_empleado') }}" class="btn btn-morado">+ Añadir Empleado</a>


    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>N° de Identificación</th>
                    <th>Nombre y Apellidos</th>
                    <th>Categoría</th>
                    <th>Salario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><strong>{{ empleado.identificacion }}</strong></td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.categoria }}</td>
                    <td>{{ "{:.2f}".format(empleado.salario) }}</td>
                    <td>
                        <a href="{{ url_for('actualizar_empleado', id=empleado.id) }}" class="btn btn-info btn-sm">Actualizar</a>
                        <a href="{{ url_for('eliminar_empleado', id=empleado.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-center">{{ empleados|length }} Registros.</p>
    </div>
</div>
{% endblock %}
