{% extends 'base.html' %}

{% block content %}

<!-- Información sobre la empresa Laika -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 style="color: #6A1B9A;">Sobre Nosotros</h1>
            <p>
                Somos una empresa apasionada por el bienestar de las mascotas. Nos dedicamos a ofrecer productos de alta calidad para garantizar la felicidad y salud de los peludos del hogar.
            </p>
            <h3 style="color: #6A1B9A;">Nuestra Misión</h3>
            <p>
              Brindar productos innovadores y accesibles para mejorar la calidad de vida de las mascotas y la tranquilidad de sus dueños.
            </p>
            <h3 style="color: #6A1B9A;">Nuestra Visión</h3>
            <p>
                Convertirnos en la tienda de referencia en productos para mascotas, destacándonos por nuestro compromiso con la calidad y el amor por los animales.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/laika.png') }}" class="img-fluid rounded shadow-lg" alt="Nosotros">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <h2 style="color: #6A1B9A;">Nuestro Equipo</h2>
            <p>Un grupo de amantes de los animales comprometidos con brindar el mejor servicio.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/fundador.png') }}" class="rounded-circle shadow" width="150" height="150" alt="Equipo 1">
            <h5 class="mt-3" style="color: #6A1B9A;">Camilo Sanchez</h5>
            <p>Fundador & CEO</p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/gerente.png') }}" class="rounded-circle shadow" width="150" height="150" alt="Equipo 2">
            <h5 class="mt-3" style="color: #6A1B9A;">Margarita Gonzalez</h5>
            <p>Gerente de Ventas</p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/marketin.png') }}" class="rounded-circle shadow" width="150" height="150" alt="Equipo 3">
            <h5 class="mt-3" style="color: #6A1B9A;">Carlos Rodríguez</h5>
            <p>Marketing & Redes Sociales</p>
        </div>
    </div>
</div>

{% endblock %}
